/* تعيين ألوان الوضع الفاتح */
body {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* تغييرات في وضعية الداكن */
  .app.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  
  /* تحديث ألوان الأزرار والعناصر */
  button {
    background-color: #00f1a1; /* اللون الأساسي */
    color: #000000;
  }
  
  .app.dark-mode button {
    background-color: #006e56; /* تغييرات في وضعية الداكن */
    color: #ffffff;
  }
  
  /* تأثيرات الأزرار عند المرور عليها */
  button:hover {
    background-color: #00d18d;
  }
  
  .app.dark-mode button:hover {
    background-color: #004e39;
  }
  
  /* تخصيص الشريط العلوي (Navbar) */
  .navbar {
    background-color: #ffffff;
  }
  
  .app.dark-mode .navbar {
    background-color: #333333;
    color: #ffffff;
  }
  
  .navbar-link {
    color: #000000;
  }
  
  .app.dark-mode .navbar-link {
    color: #ffffff;
  }
  
  .navbar-link.active {
    color: #00f1a1;
  }
  
  